.ml-element, .item-page {
  font-family: Arial,Helvetica,"Nimbus Sans L",sans-serif;
  box-sizing: border-box; }

.item-page {
  padding: 32px;
  display: flex;
  flex-wrap: wrap;
  color: #333;
  background-color: white; }
  .item-page .image {
    width: 70%; }
    .item-page .image img {
      width: 680px;
      margin-right: 20px; }
  .item-page .info {
    flex: 1;
    width: 30%; }
    .item-page .info .type {
      margin-bottom: 16px;
      display: block;
      font-size: 14px; }
    .item-page .info .title {
      font-size: 24px;
      display: block;
      margin-bottom: 32px; }
    .item-page .info .price {
      font-size: 46px;
      display: block;
      margin-bottom: 32px; }
    .item-page .info .buy {
      background-color: #3483FA;
      color: white;
      border: none;
      height: 39px;
      font-size: 16px;
      outline: none;
      cursor: pointer;
      border-radius: 5px;
      width: 100%; }
  .item-page .description {
    display: block;
    flex: none;
    width: 70%;
    margin-top: 60px; }
    .item-page .description .title {
      font-size: 28px;
      display: block;
      margin-bottom: 32px;
      color: #333; }
    .item-page .description .content {
      font-size: 15px;
      margin-bottom: 32px;
      color: #666; }
