@charset "UTF-8";
.ml-element, .breadcrumb {
  font-family: Arial,Helvetica,"Nimbus Sans L",sans-serif;
  box-sizing: border-box; }

.breadcrumb .list {
  padding-left: 0;
  list-style: none;
  font-size: 14px;
  color: #999; }
  .breadcrumb .list .item {
    display: inline; }
    .breadcrumb .list .item:after {
      content: "›";
      margin-left: 5px;
      margin-right: 5px; }
    .breadcrumb .list .item:last-of-type {
      color: #666; }
    .breadcrumb .list .item:last-of-type:after {
      content: ""; }
